PuLP==2.9.0
numpy==1.22.3
scipy==1.8.1
pandas==1.4.2
matplotlib==3.5.1
seaborn==0.13.0
statsmodels==0.13.2
pathlib
pytest==8.3.4
pytest-asyncio==0.25.1
pytest-mock==3.11.1
mock==4.0.3
requests==2.31.0
scipy
termcolor
pdfkit


jupyter==1.0.0
notebook==7.0.2
ipykernel==6.13.0
jupyterlab==4.0.5
ipywidgets==8.1.1
matplotlib-inline==0.1.3
nbconvert
nbformat
pypandoc