PuLP
numpy
scipy
pandas
matplotlib
seaborn
statsmodels
pathlib
pytest
pytest-asyncio
pytest-mock
mock
requests
scipy
termcolor
pdfkit
requests
httpx

jupyter
notebook
ipykernel
jupyterlab
ipywidgets
matplotlib-inline
nbconvert
nbconvert[webpdf]
nbformat
pypandoc