ipykernel
ipywidgets
jupyter
jupyterlab
matplotlib
matplotlib-inline
nbconvert
nbformat
notebook
numpy
pandas
pathlib
playwright
PuLP
pypandoc
pypdf2
pytest
PuLP
reportlab
requests
scikit-learn
scipy
seaborn
statsmodels
termcolor
tqdm